# version: '3'
name: public-containers

services:

  cloudflaretunnel:
    container_name: cloudflaretunnel
    image: cloudflare/cloudflared:2026.2.0
    environment:
      - TUNNEL_TOKEN=$CLOUDFLARED_TUNNEL_TOKEN
    command: tunnel --post-quantum --no-autoupdate run

# Arch, btw
  mirror:
    build:
      context: .
      dockerfile: Dockerfiles/fancyindex.Dockerfile
      # Avoid strict firewall rules blocking access to internet during build
      network: host
    image: alpine-nginx-site-fancyindex:latest
    container_name: mirror
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # restart: unless-stopped
    # ports:
    #   - 80:80
    #   - 443:443
    environment:
      - DOMAIN=${TRAEFIK_PUBLIC_DOMAIN}
      - SUBDOMAIN=mirror
    volumes:
      # Rsync crontab syncs the mirror
      - /srv/http/mirror/archlinux:/srv/http/mirror/archlinux:ro
      # My TLS certificates from certbot
      - letsencrypt:/etc/letsencrypt:ro
      # Certbot renewal challenges
      ## Update - Not needed due to DNS chllenge
      # - acme-challenge:/var/www/.well-known/acme-challenge
      # Allow to write {access,error}.log
      - /var/log/nginx/mirror.$TRAEFIK_PUBLIC_DOMAIN:/var/log/nginx/mirror.$TRAEFIK_PUBLIC_DOMAIN
      # Main Nginx config containing environment variables
      - ./sites/mirror/mirror.conf:/etc/nginx/templates/template.conf:ro
      # the-eye.eu theme
      - ./sites/mirror/indexui:/var/www/indexui:ro
      # Nginx proxy config for transfer.sh
      # - ./sites/transfer/transfer.$TRAEFIK_PUBLIC_DOMAIN.conf:/etc/nginx/http.d/transfer.$TRAEFIK_PUBLIC_DOMAIN.conf
      # Weechat relay blank page for certbot
      # - ./sites/irc-relay/irc.$TRAEFIK_PUBLIC_DOMAIN.conf:/etc/nginx/http.d/irc.$TRAEFIK_PUBLIC_DOMAIN.conf
      # Nginx proxy config for Your Spotify
      # - ./sites/your-spotify/yspot.$TRAEFIK_PUBLIC_DOMAIN.conf:/etc/nginx/http.d/yspot.$TRAEFIK_PUBLIC_DOMAIN.conf
      # Nginx proxy config for Your Spotify server
      # - ./sites/your-spotify/yspot-api.$TRAEFIK_PUBLIC_DOMAIN.conf:/etc/nginx/http.d/yspot-api.$TRAEFIK_PUBLIC_DOMAIN.conf
      - ./Dockerfiles/fancyindex_entry.sh:/entrypoint.sh:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mirror.rule=Host(`mirror.$TRAEFIK_PUBLIC_DOMAIN`)"
      - "traefik.http.routers.mirror.entrypoints=web"
      - "traefik.http.services.mirror.loadbalancer.server.port=80"

      # Manually forcing https
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.mirror.middlewares=redirect-to-https"
      # Instead of above, you can also use any existing Middleware in the traefik yml config's Dynamic Config section
      # comment above two lines and uncomment this
      # - "traefik.http.routers.mirror.middlewares=https-redirectscheme@file"

      # Needs another router for HTTPS
      - "traefik.http.routers.mirror_sec.rule=Host(`mirror.$TRAEFIK_PUBLIC_DOMAIN`) || Host(`mirror.$TRAEFIK_ROOT_DOMAIN`)"
      - "traefik.http.routers.mirror_sec.entrypoints=websecure"
      - "traefik.http.routers.mirror_sec.tls=true"
    # entrypoint: /bin/sh -c "sleep 99999"


  transfer:
    image: dutchcoders/transfer.sh:latest
    container_name: transfer
    command: "--provider local \
      --temp-path /transfer/ \
      --basedir /transfer/ \
      --max-upload-size 3221225 \
      --purge-days 1 \
      --purge-interval 1"
    # ports:
    #   - 8080:8080
    volumes:
      - /srv/transfer:/transfer
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.transfer.rule=Host(`transfer.$TRAEFIK_PUBLIC_DOMAIN`)"
      - "traefik.http.routers.transfer.entrypoints=web"
      - "traefik.http.services.transfer.loadbalancer.server.port=8080"

      # Manually forcing https
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.transfer.middlewares=redirect-to-https"
      # Instead of above, you can also use any existing Middleware in the traefik yml config's Dynamic Config section
      # comment above two lines and add uncomment this
      # - "traefik.http.routers.transfer.middlewares=https-redirectscheme@file"

      # Needs another router for HTTPS
      - "traefik.http.routers.transfer_sec.rule=Host(`transfer.$TRAEFIK_PUBLIC_DOMAIN`)"
      - "traefik.http.routers.transfer_sec.entrypoints=websecure"
      - "traefik.http.routers.transfer_sec.tls=true"

  # pastebin:
  #   image: wantguns/bin
  #   container_name: pastebin
  #   # ports:
  #   #   - 127.0.0.1:6163:6163
  #   environment:
  #     # - BIN_PORT=6163 # Defaults to 6162
  #     - BIN_LIMITS={form="16 MiB"}
  #   volumes:
  #     - ./upload:/upload  # upload folder will have your pastes

  irc-relay:
    build:
      # Pass UID and GID from env to dockerfile to create non-root user in image
      args:
        UID: "${UID}"
        GID: "${GID}"
      context: .
      dockerfile: Dockerfiles/weechat.Dockerfile
      # Avoid strict firewall rules blocking access to internet during build
      network: host
    # Name and tag of the image
    image: weechat-relay:latest
    container_name: weechat
    environment:
      - MY_DOMAIN=$TRAEFIK_PUBLIC_DOMAIN
      - WEECHAT_HOME=${WEECHAT_HOME}
      - WEECHAT_PASSPHRASE=${WEECHAT_PASSPHRASE}
    # tty: true
    # Run as the current UID:GID of host executing this
    # user: "${UID}:${GID}"
    ports:
      - 9001:9001
    volumes:
      - letsencrypt:/etc/letsencrypt/live:ro
      - ./sites/irc-relay:/weechat
      - ./Dockerfiles/weechat_entry.sh:/weechat_entry.sh
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.irc.rule=Host(`irc.$TRAEFIK_PUBLIC_DOMAIN`)"
      - "traefik.http.routers.irc.entrypoints=web"
      # - "traefik.http.services.irc.loadbalancer.servers.url[0]=http://irc-relay:9001"

      # Manually forcing https
      - "traefik.http.routers.irc.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"

      # Needs another router for HTTPS
      - "traefik.http.routers.irc_sec.rule=Host(`irc.$TRAEFIK_PUBLIC_DOMAIN`)"
      - "traefik.http.routers.irc_sec.entrypoints=websecure"
      - "traefik.http.routers.irc_sec.tls=true"
      - "traefik.http.routers.irc_sec.middlewares=redirect-to-glowingbear"

      # # Manually forcing redirect to glowing bear
      - "traefik.http.middlewares.redirect-to-glowingbear.redirectregex.regex=(.*)"
      - "traefik.http.middlewares.redirect-to-glowingbear.redirectregex.replacement=https://latest.glowing-bear.org/"
      - "traefik.http.middlewares.redirect-to-glowingbear.redirectregex.permanent=false"
    # entrypoint: /bin/sh -c "sleep 99999"


  whoami_public:
    container_name: whoami_public
    # A container that exposes an API to show its IP address
    image: traefik/whoami
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami_public.rule=Host(`whoami.$TRAEFIK_PUBLIC_DOMAIN`)"
      - "traefik.http.routers.whoami_public.entrypoints=web"

      # Manually forcing https
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.whoami_public.middlewares=redirect-to-https"

      # Needs another router for HTTPS
      - "traefik.http.routers.whoami_public_sec.rule=Host(`whoami.$TRAEFIK_PUBLIC_DOMAIN`)"
      - "traefik.http.routers.whoami_public_sec.entrypoints=websecure"
      - "traefik.http.routers.whoami_public_sec.tls=true"
      # - "traefik.http.routers.whoami_public_sec.tls.certresolver=production"
    # networks:
    #   - "$DOCKER_NETWORK_NAME"

  giganotosaurus:
    image: httpd:2.4
    container_name: giganotosaurus
    volumes:
      - ./container_data/giganotosaurus:/usr/local/apache2/htdocs:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.giganotosaurus.rule=Host(`giganotosaurus.$TRAEFIK_PUBLIC_DOMAIN`)"
      - "traefik.http.routers.giganotosaurus.entrypoints=web"
      - "traefik.http.services.giganotosaurus.loadbalancer.server.port=80"

      # Manually forcing https
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.giganotosaurus.middlewares=redirect-to-https"
      # Instead of above, you can also use any existing Middleware in the traefik yml config's Dynamic Config section
      # comment above two lines and uncomment this
      # - "traefik.http.routers.giganotosaurus.middlewares=https-redirectscheme@file"

      # Needs another router for HTTPS
      - "traefik.http.routers.giganotosaurus_sec.rule=Host(`giganotosaurus.$TRAEFIK_PUBLIC_DOMAIN`) || Host(`giganotosaurus.$TRAEFIK_ROOT_DOMAIN`)"
      - "traefik.http.routers.giganotosaurus_sec.entrypoints=websecure"
      - "traefik.http.routers.giganotosaurus_sec.tls=true"

  jigsaw:
    image: httpd:2.4
    container_name: jigsaw
    volumes:
      - ./container_data/jigsaw:/usr/local/apache2/htdocs:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jigsaw.rule=Host(`jigsaw.$TRAEFIK_PUBLIC_DOMAIN`)"
      - "traefik.http.routers.jigsaw.entrypoints=web"
      - "traefik.http.services.jigsaw.loadbalancer.server.port=80"

      # Manually forcing https
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.jigsaw.middlewares=redirect-to-https"
      # Instead of above, you can also use any existing Middleware in the traefik yml config's Dynamic Config section
      # comment above two lines and uncomment this
      # - "traefik.http.routers.jigsaw.middlewares=https-redirectscheme@file"

      # Needs another router for HTTPS
      - "traefik.http.routers.jigsaw_sec.rule=Host(`jigsaw.$TRAEFIK_PUBLIC_DOMAIN`) || Host(`jigsaw.$TRAEFIK_ROOT_DOMAIN`)"
      - "traefik.http.routers.jigsaw_sec.entrypoints=websecure"
      - "traefik.http.routers.jigsaw_sec.tls=true"

  # Mess with script kiddies
  endlessh:
    image: lscr.io/linuxserver/endlessh:latest
    container_name: endlessh
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=Etc/UTC
      - MSDELAY=10000 #optional
      - MAXLINES=32 #optional
      - MAXCLIENTS=4096 #optional
      - LOGFILE=true #optional
      # - BINDFAMILY= #optional
    volumes:
      - /var/log/endlessh:/config/logs/endlessh #optional
    ports:
      - 22:2222


volumes:
  letsencrypt:
    external: true
  # Update - Not needed due to DNS chllenge
  # acme-challenge:
  #   external: true

networks:
  default:
    name: "$DOCKER_NETWORK_NAME"
    external: true

########### Older compose files   ###########

  # ys_server:
  #   image: yooooomi/your_spotify_server
  #   container_name: ys_server
  #   restart: always
  #   # Can be commented as we are using nginx to connect directly to this container
  #   # ports:
  #   #   - "8081:8080"
  #   links:
  #     - ys_mongo
  #   depends_on:
  #     - ys_mongo
  #   environment:
  #     API_ENDPOINT: https://yspot-api.$TRAEFIK_PUBLIC_DOMAIN
  #     # API_ENDPOINT: https://yspot.$TRAEFIK_PUBLIC_DOMAIN/api
  #     CLIENT_ENDPOINT: https://yspot.$TRAEFIK_PUBLIC_DOMAIN
  #     # .env file
  #     SPOTIFY_PUBLIC: ${SPOTIFY_PUBLIC}
  #     SPOTIFY_SECRET: ${SPOTIFY_SECRET}

  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.yspot-api.rule=Host(`yspot-api.$TRAEFIK_PUBLIC_DOMAIN`)"
  #     - "traefik.http.routers.yspot-api.entrypoints=web"
  #     - "traefik.http.services.yspot-api.loadbalancer.server.port=8080"

  #     # Manually forcing https
  #     - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
  #     - "traefik.http.routers.yspot-api.middlewares=redirect-to-https"
  #     # Instead of above, you can also use any existing Middleware in the traefik yml config's Dynamic Config section
  #     # comment above two lines and add uncomment this
  #     # - "traefik.http.routers.yspot-api.middlewares=https-redirectscheme@file"

  #     # Needs another router for HTTPS
  #     - "traefik.http.routers.yspot-api_sec.rule=Host(`yspot-api.$TRAEFIK_PUBLIC_DOMAIN`)"
  #     - "traefik.http.routers.yspot-api_sec.entrypoints=websecure"
  #     - "traefik.http.routers.yspot-api_sec.tls=true"

  # # The actual webpage to connect to
  # ys_web:
  #   image: yooooomi/your_spotify_client
  #   container_name: ys_web
  #   restart: always
  #   # Can be commented as we are using nginx to connect directly to this container
  #   # ports:
  #   #   - "8082:3000"
  #   environment:
  #     API_ENDPOINT: https://yspot-api.$TRAEFIK_PUBLIC_DOMAIN
  #     # API_ENDPOINT: https://yspot.$TRAEFIK_PUBLIC_DOMAIN/api

  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.yspot.rule=Host(`yspot.$TRAEFIK_PUBLIC_DOMAIN`)"
  #     - "traefik.http.routers.yspot.entrypoints=web"
  #     - "traefik.http.services.yspot.loadbalancer.server.port=3000"

  #     # Manually forcing https
  #     - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
  #     - "traefik.http.routers.yspot.middlewares=redirect-to-https"
  #     # Instead of above, you can also use any existing Middleware in the traefik yml config's Dynamic Config section
  #     # comment above two lines and add uncomment this
  #     # - "traefik.http.routers.yspot.middlewares=https-redirectscheme@file"

  #     # Needs another router for HTTPS
  #     - "traefik.http.routers.yspot_sec.rule=Host(`yspot.$TRAEFIK_PUBLIC_DOMAIN`)"
  #     - "traefik.http.routers.yspot_sec.entrypoints=websecure"
  #     - "traefik.http.routers.yspot_sec.tls=true"
